<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizz sur les drapeaux</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

</head>
<body class="bg-gray-100 min-h-screen flex flex-col justify-center items-center">
    <div class="max-w-md p-8 bg-white rounded-lg shadow-lg">
        <h1 class="text-3xl font-bold mb-4">Bienvenue sur le quizz des drapeaux !</h1>
        <p class="mb-4">Score actuel : <span th:text="${session.score}" class="font-bold"></span></p>
        <h2 class="text-xl font-bold mb-2">Question :</h2>

        <img th:src="${Question.drapeau}" alt="Drapeau du pays" class="mb-4 rounded-lg">
        <h3 class="text-lg font-bold mb-2">Propositions :</h3>
        <form action="/Verification" method="get">
            <input type="hidden" name="Code_bon" th:value="${Question.code}">
            <ul>
                <li th:each="pays : ${Proposition}" class="mb-2">
                    <label class="inline-flex items-center">
                        <input type="radio" name="Code_joueur" th:value="${pays.code}" class="form-radio text-blue-500">
                        <span th:text="${pays.nom}" class="ml-2"></span>
                    </label>
                </li>
            </ul>
            <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Valider</button>
        </form>
    </div>
</body>
</html>
